<ng-container *ngIf="data; else loading">
  <h4 class="mt-3 mb-3">{{title}}</h4>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <table class="table table-sm table-hover table-responsive-md text-center" >
          <thead class="text-primary">

          <tr>
            <th *ngFor="let dataModel of dataModelList">{{dataModel.columnReference}}</th>
            <th>
              <button class="btn btn-outline-primary btn-sm" (click)="operation ='add'; init(); ">
                <i class="fas fa-plus"></i>
              </button>
            </th>
          </tr>

          </thead>
          <tbody>

          <tr *ngFor="let item of data">
            <td *ngFor="let dataModel of dataModelList">{{item[dataModel.columnName]}}</td>
            <td>
              <button class="btn btn-outline-warning btn-sm" (click)="operation ='edit'; selectedItem=item;">
                <i class="far fa-edit"></i>
              </button>
            </td>
            <td>
              <button class="btn btn-outline-danger btn-sm"  (click)="operation ='remove'; selectedItem=item;">
                <i class="fas fa-trash-alt"></i>
              </button>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header bg-primary text-white">
            {{operation == 'add' ? 'Ajouter un élément' :
              operation == 'edit' ? 'Modifier un élément' :
              operation == 'remove' ? 'Supprimer un élément': ''
            }}
          </div>
          <div class="card-body">
            <div *ngIf="operation == 'add' || operation == 'edit'">
              <form [formGroup]="crudForm">
                <div class="form-group" *ngFor="let dataModel of dataModelList"
                     [ngSwitch]="dataModel.dataType" >
                  <div *ngIf="!dataModel.readonly">
                    <label for="{{dataModel.columnName}}">{{dataModel.columnReference}}</label>

                    <input id="{{dataModel.columnName}}" *ngSwitchCase="'string'" type="text" class="form-control"
                           formControlName="{{dataModel.columnName}}" [(ngModel)]="selectedItem[dataModel.columnName]"/>

                    <input id="{{dataModel.columnName}}" *ngSwitchCase="'number'" type="number" class="form-control"
                           formControlName="{{dataModel.columnName}}" [(ngModel)]="selectedItem[dataModel.columnName]"/>

                    <!--<div class="alert alert-danger small"  *ngIf="crudForm.controls['ref'].invalid &&
                          (crudForm.controls['ref'].touched || crudForm.controls['ref'].dirty)">
                           Référence est obligatoire!
                    </div>-->
                  </div>
                </div>

                <button [disabled]="crudForm.pristine || crudForm.invalid" type="submit"
                        class="btn btn-outline-success btn-sm"
                        (click)="operation == 'add' ? add() : update()">
                  {{operation == 'add' ? 'Ajouter' : operation == 'edit' ? 'Modifier' : '' }}
                </button>
              </form>

            </div>
            <div  *ngIf="operation == 'remove'">
              <h6 class="text-black-50">
                {{selectedItem.id}} - {{selectedItem.ref}}
              </h6>
              <p class="alert-warning text-danger"  [hidden]="!selectedItem.id">
                Voulez-vous supprimer cet élément ?
              </p>
              <p class="alert-success" [hidden]="selectedItem.id">
                L'élément a bien été supprimé !
              </p>
              <button class="btn btn-danger btn-sm" (click)="delete()"
                      [hidden]="!selectedItem.id" > Confirmer
              </button>
            </div>
          </div>
          <div class="card-footer">

          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class="offset-3 col-6 alert alert-light mt-3 text-center text-primary">
    <span class="spinner-border spinner-border-sm"></span> &nbsp; <i>Attempt loading ...</i>
  </div>
</ng-template>

<!--
<ng-container *ngIf="data; else loading">
  <h3>{{title}}</h3>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" [ngClass]="{'active': crudType == 'sample' }" href="" (click)="crudType = 'sample'">Simple Crud</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" [ngClass]="{'active': crudType == 'upload' }" href="" (click)="crudType = 'upload'">Importer un fichier</a>
    </li>
  </ul>
  <div class="container" [ngStyle]="{'margin-top': '20px'}">
    <div *ngIf="crudType == 'sample'">
      <app-sample
        [title]="title"
        [data]="data"
        [service]="service"
        [initItem]="initItem"
        [initForm]="initForm"
        [dataModelList]="dataModelList"
      ></app-sample>
    </div>
    <div *ngIf="crudType == 'upload'">
      <app-upload
        [dataModelList]="dataModelList"
        [service]="service"
        (updateData)="dataChanged($event)"
      ></app-upload>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  Loading ....
</ng-template>
-->
